<div class="w-full relative">
  <ion-icon
    name="location-outline"
    class="text-xl absolute top-1/2 -translate-y-1/2 left-[12px] text-stone-500"
  ></ion-icon>
  <input
    type="text"
    placeholder="Lokalizacja"
    [(ngModel)]="cityTerm"
    (input)="onCityInput($event)"
    autocomplete="off"
    class="_input !text-black"
    [ngClass]="{ 'rounded-full': rounded }"
  />
  @if (cityTerm()) {
    <button
      (click)="selectCity($event, null)"
      class="text-xl absolute top-1/2 -translate-y-1/2 right-[12px] text-stone-500 flex"
    >
      <ion-icon name="close-circle-outline"></ion-icon>
    </button>
  }
  @if (citySuggestions().length) {
    <ul class="mt-2 bg-white z-20 rounded shadow-2xl absolute w-full max-h-60 overflow-auto">
      @for (suggestion of citySuggestions(); track $index) {
        <button (click)="selectCity($event, suggestion)" class="w-full">
          <li class="px-4 body-3 py-3 hover:bg-gray-200 cursor-pointer text-black">
            {{ suggestion }}
          </li>
        </button>
      }
    </ul>
  }
</div>
