<div class="min-h-screen pb-24">
  <hoof-hero [isListing]="true"></hoof-hero>

  <div class="mt-12 px-0 xl:px-48">
    <div class="flex justify-between pb-12 border-b border-stone-300">
      <hoof-details-filter></hoof-details-filter>
      <hoof-sort-options></hoof-sort-options>
    </div>

    @if (store.searchResults(); as listings) {
      @if (listings.length) {
        <div
          class="grid items-stretch pt-16"
          [ngClass]="
            store.gridMode() === EGridMode.LIST
              ? 'grid-cols-1 gap-6 md:gap-12'
              : 'grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4'
          "
        >
          @for (item of listings; track $index) {
            <hoof-listing-item [data]="item"></hoof-listing-item>
          }
        </div>
        <hoof-pagination class="mt-16 block"></hoof-pagination>
      } @else {
        <p class="h2 text-center my-48">Brak ogłoszeń do wyświetlenia.</p>
      }
    }
  </div>
</div>
