<div
  class="flex items-center text-white h-[700px] w-full bg-no-repeat rounded-2xl bg-cover"
  [ngStyle]="{ 'background-image': 'url(/assets/images/' + bgImage + '.jpg)' }"
>
  <div class="w-full md:max-w-3xl lg:max-w-5xl mx-auto px-12">
    <h1 class="h3 sm:h2 lg:h1 text-center">
      Łączymy pasjonatów koni <span class="text-orange-450 hidden md:inline-block">.</span>
    </h1>
    <div class="mt-12">
      <div class="flex flex-col items-center justify-center md:flex-row gap-4">
        <div class="relative w-full">
          <ion-icon
            name="search-outline"
            class="text-xl absolute top-1/2 -translate-y-1/2 left-[12px] text-stone-500"
          ></ion-icon>
          <input
            type="text"
            placeholder="Czego dziś szukasz?"
            class="rounded-full _input !text-black"
            [(ngModel)]="searchTerm"
          />
          <button
            (click)="onSearch()"
            class="!rounded-full bg-orange-450 absolute right-1 top-1 w-9 h-9 flex justify-center items-center"
          >
            <ion-icon name="arrow-forward-outline" class="text-2xl text-white block"></ion-icon>
          </button>
        </div>

        <div class="w-full md:w-1/3 lg:w-1/4 relative">
          <ion-icon
            name="location-outline"
            class="text-xl absolute top-1/2 -translate-y-1/2 left-[12px] text-stone-500"
          ></ion-icon>
          <input
            type="text"
            placeholder="Lokalizacja"
            [(ngModel)]="cityTerm"
            (input)="onCityInput()"
            autocomplete="off"
            class="rounded-full _input !text-black"
          />
          @if (cityTerm()) {
            <button
              (click)="selectCity(null)"
              class="text-xl absolute top-1/2 -translate-y-1/2 right-[12px] text-stone-500 flex"
            >
              <ion-icon name="close-circle-outline"></ion-icon>
            </button>
          }
          @if (citySuggestions().length) {
            <ul
              class="mt-2 bg-white z-20 rounded shadow-2xl absolute w-full max-h-60 overflow-auto"
            >
              @for (suggestion of citySuggestions(); track $index) {
                <button (click)="selectCity(suggestion)" class="w-full">
                  <li class="px-4 body-3 py-3 hover:bg-gray-200 cursor-pointer text-black">
                    {{ suggestion }}
                  </li>
                </button>
              }
            </ul>
          }
        </div>
      </div>
    </div>
    <div [ngClass]="!isListing ? 'mt-16' : 'mt-8'">
      @if (!isListing) {
        <div
          class="flex flex-wrap justify-center items-center md:justify-between mt-6 gap-x-1 gap-y-3 md:gap-x-0"
        >
          @for (category of mainCategories(); track $index) {
            <button
              class="body-3 !rounded-full !border !py-1 !px-4 transition-colors"
              [ngClass]="{
                '!bg-orange-450 !border-orange-450 text-white': category.active,
                'bg-transparent !border-white text-white hover:bg-orange-450 hover:!border-orange-450':
                  !category.active,
              }"
              (click)="toggleCategory(category.slug)"
            >
              {{ category.title }}
            </button>
            @if (!$last) {
              <div class="rounded-full bg-orange-450 lg:w-2 lg:h-2"></div>
            }
          }
        </div>
      } @else {
        <hoof-search-filters></hoof-search-filters>
      }
    </div>
  </div>
</div>
