<div [formGroup]="form">
  <div class="relative w-full">
    <ion-icon
      name="mail-outline"
      class="text-xl absolute top-1/2 -translate-y-1/2 left-[12px] text-stone-400"
    ></ion-icon>
    <input type="email" placeholder="Adres e-mail" class="_input" formControlName="email" />
  </div>

  @if (email?.invalid && email?.touched) {
    @if (email?.errors?.['required']) {
      <hoof-form-error errorMessage="Email jest wymagany."></hoof-form-error>
    }
    @if (email?.errors?.['email']) {
      <hoof-form-error errorMessage="Nieprawidłowy format email."></hoof-form-error>
    }
  }

  @if (hasPassword) {
    <div class="relative w-full mt-4">
      <ion-icon
        name="lock-closed-outline"
        class="text-xl absolute top-1/2 -translate-y-1/2 left-[12px] text-stone-400"
      ></ion-icon>
      <input type="password" placeholder="Hasło" class="_input" formControlName="password" />
    </div>

    @if (password?.invalid && password?.touched) {
      @if (password?.errors?.['required']) {
        <hoof-form-error errorMessage="Hasło jest wymagane."></hoof-form-error>
      }
      @if (password?.errors?.['minlength']) {
        <hoof-form-error errorMessage="Hasło musi mieć co najmniej 6 znaków."></hoof-form-error>
      }
    }
  }

  @if (repeatPassword) {
    <div class="relative w-full mt-4">
      <ion-icon
        name="lock-closed-outline"
        class="text-xl absolute top-1/2 -translate-y-1/2 left-[12px] text-stone-400"
      ></ion-icon>
      <input
        type="password"
        placeholder="Powtórz Hasło"
        class="_input"
        formControlName="repeatPassword"
      />
    </div>

    @if (repeat?.invalid && repeat?.touched) {
      @if (repeat?.errors?.['required']) {
        <hoof-form-error errorMessage="Powtórzenie hasła jest wymagane."></hoof-form-error>
      }
      @if (form.errors?.['passwordsMismatch'] && repeat?.touched) {
        <hoof-form-error errorMessage="Hasła się nie zgadzają."></hoof-form-error>
      }
    }
  }
</div>
