<div class="w-full justify-center pb-12">
  <div class="w-full">
    <div class="flex-col md:flex-row flex justify-between items-center">
      <h2 class="h4 sm:h3">{{ carouselTitle }}</h2>

      @if (hasPagination) {
        <div
          class="_pagination flex gap-3 justify-center mt-8 md:mt-4"
          [ngClass]="{ hidden: !showPagination() }"
        ></div>
      }
    </div>
    <swiper-container
      #swiper
      slides-per-view="5"
      space-between="12"
      pagination="true"
      init="false"
      class="mt-8 h-80"
    >
      @for (slide of slides(); track $index) {
        <swiper-slide class="h-full">
          <hoof-listing-item [data]="slide" [view]="EListingItemView.SIMPLE"></hoof-listing-item>
        </swiper-slide>
      }
    </swiper-container>
  </div>
</div>
