<div class="h-screen box-border pt-6">
  <div class="relative z-10 w-full flex flex-col md:flex-row gap-6 h-full">
    <div class="md:h-full w-full md:w-1/4 lg:w-1/5 rounded-2xl p-4 bg-stone-100">
      <div class="relative w-full">
        <ion-icon
          name="search-outline"
          class="text-xl absolute top-1/2 -translate-y-1/2 left-[12px] text-stone-400"
        ></ion-icon>
        <input
          type="text"
          placeholder="Szukaj..."
          class="_input !rounded-full"
          [(ngModel)]="store.searchQuery"
        />
      </div>
      <div class="md:mt-12">
        <div class="hidden md:block">
          @for (user of store.filteredContacts(); track $index) {
            <button
              class="flex gap-4 items-center flex-wrap justify-start text-left my-6 !p-2 hover:bg-stone-200 rounded cursor-pointer w-full overflow-hidden"
              (click)="store.selectUser(user)"
            >
              <img
                [src]="user.profileImg"
                class="rounded-full w-12 h-12 object-cover"
                alt="Profile Image"
              />
              <div>
                <div class="body-2">{{ user.name }}</div>
                <div class="body-3-light w-full hidden lg:block">
                  {{
                    store.lastMessages()[user.uid].text.slice(0, 20) + '...' || 'Brak wiadomości.'
                  }}
                </div>
              </div>
            </button>
          }
        </div>
        <div class="block md:hidden h-24">
          <swiper-container
            #swiper
            slides-per-view="5"
            space-between="12"
            pagination="true"
            init="false"
            class="mt-8 h-24"
          >
            @for (user of store.filteredContacts(); track $index) {
              <swiper-slide class="h-full">
                <button class="text-left cursor-pointer w-full" (click)="store.selectUser(user)">
                  <img
                    [src]="user.profileImg"
                    class="rounded-full w-12 h-12 object-cover"
                    alt="Profile Image"
                  />
                  <div>
                    <div class="body-2">{{ user.name }}</div>
                  </div>
                </button>
              </swiper-slide>
            }
          </swiper-container>
        </div>
      </div>
    </div>
    <div
      class="h-full w-full md:w-3/4 lg:w-4/5 rounded-2xl border border-stone-200 bg-white justify-between flex flex-col"
    >
      @if (!store.activeUser()) {
        <div class="h3 lg:h2 items-center text-center h-full flex w-full justify-center px-2">
          <p class="text-gray-200">Tutaj będą widoczne wiadomości.</p>
        </div>
      } @else {
        <div class="flex-1 overflow-y-auto p-4 md:p-8 flex flex-col">
          @for (msg of store.messages(); track $index) {
            <div
              class="max-w-2/5 lg:max-w-3/5 mb-2 rounded body-3"
              [ngClass]="{
                'self-end bg-orange-450 text-white': msg.senderId === authService.user()?.uid,
                'self-start bg-gray-100': msg.senderId !== authService.user()?.uid,
              }"
            >
              <div class="px-4 py-2 rounded-lg">
                {{ msg.text }}
              </div>
            </div>
          }
        </div>
        <div
          *ngIf="store.activeUser()"
          class="py-4 border-t border-stone-200 mx-4 flex items-center gap-2"
        >
          <div class="relative w-full">
            <ion-icon
              name="chatbubble-outline"
              class="text-xl absolute top-1/2 -translate-y-1/2 left-[12px] text-stone-400"
            ></ion-icon>
            <input
              [(ngModel)]="store.newMessage"
              (keyup.enter)="store.sendMessage()"
              placeholder="Napisz wiadomość..."
              class="_input flex-1"
            />
          </div>
          <ion-button fill="solid" (click)="store.sendMessage()">Wyślij</ion-button>
        </div>
      }
    </div>
  </div>
</div>
