<button
  class="flex gap-4 items-center flex-wrap justify-start text-left my-6 !p-2 hover:bg-stone-200 rounded cursor-pointer w-full overflow-hidden"
  (click)="store.selectUser(user)"
>
  <img [src]="user.profileImg" class="rounded-full w-12 h-12 object-cover" alt="Profile Image" />
  <div>
    <div class="body-2">{{ user.name }}</div>
    @if (store.lastMessages(); as lastMsg) {
      <div class="body-3-light w-full hidden lg:block">
        {{ lastMsg[user.uid].text.slice(0, 20) + '...' || 'Brak wiadomości.' }}
      </div>
    }
  </div>
</button>
