<div class="h-screen flex flex-col gap-6">
  <!-- BANNER -->
  <hoof-account-banner [isEditMode]="true"></hoof-account-banner>

  <!-- ACCOUNT -->
  <div class="flex gap-6 h-full">
    <div class="border border-stone-200 rounded-2xl h-full bg-red w-full p-12 flex">
      <hoof-profile-picture [isAccountView]="true" class="mr-16"></hoof-profile-picture>
      <div class="grid grid-cols-4 body-2">
        <div>
          <div class="h3">Imię</div>
          <div class="mt-2">
            {{ auth.currentUser()?.displayName }}
          </div>
        </div>
        <div>
          <div class="h3">E-mail</div>
          <div class="mt-2">
            {{ auth.currentUser()?.email }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
