<div id="account-options" [ngClass]="isAccountView ? 'w-24 relative' : 'w-12'">
  @if (isAccountView) {
    <div
      class="w-full h-full rounded-full bg-white/50 top-0 left-0 absolute flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity"
    >
      <button class="block" aria-label="Change profile picture">
        <ion-icon name="create-outline" class="text-4xl text-white p-4 hover:opacity-50"></ion-icon>
      </button>
    </div>
  }

  <img
    class="rounded-full"
    [src]="photoUrl()"
    (error)="onImageError($event)"
    alt="User Image"
    width="96"
    height="96"
    loading="lazy"
  />
</div>

<ion-popover trigger="account-options" triggerAction="click" class="!p-6">
  <ng-template>
    @for (menuElem of ACCOUNT_MENU; track $index) {
      <a
        [routerLink]="menuElem.url"
        class="p-2 body-2 text-center flex items-center gap-4 justify-center"
        (click)="menuElem.slug === 'log-out' ? logout() : null"
      >
        <ion-icon [name]="menuElem.icon" class="text-2xl"></ion-icon>
        {{ menuElem.text }}
      </a>
    }
  </ng-template>
</ion-popover>
