<a [routerLink]="data?.url" class="cursor-pointer">
  <div class="bg-white rounded-md h-auto relative border border-stone-200">
    <div>
      <img src="assets/images/placeholder.png" alt="Listing Image" class="rounded" />
    </div>
    <div class="px-4 py-4">
      <h3 class="body-2-light flex justify-between">
        Sprzedam młodą klacz
        <hoof-add-to-favourites></hoof-add-to-favourites>
      </h3>
      <div>
        <span class="body-3-bold">10000 PLN</span>
      </div>
      <div class="mt-2">
        <span class="text-stone-400 body-3">Katowice, 11.07</span>
      </div>
    </div>
  </div>
</a>
