@if (data) {
  <a [routerLink]="data.url" class="cursor-pointer h-full">
    <div
      class="bg-white rounded-md relative border border-stone-200 h-full flex"
      [ngClass]="{
        'shadow-2xl': type === EListingItemType.FEATURED || type === EListingItemType.LISTING,
        'flex-col': type === EListingItemType.FEATURED || type === EListingItemType.CAROUSEL,
        'flex-row': type === EListingItemType.LISTING,
      }"
    >
      <div
        class="min-h-32 max-h-96 relative"
        [ngClass]="type === EListingItemType.LISTING ? 'w-1/3' : 'w-full'"
      >
        @if (type !== EListingItemType.LISTING) {
          <hoof-add-to-favourites class="absolute p-2 top-0 right-0"></hoof-add-to-favourites>
        }

        <img
          [src]="!!data.image.length ? '/assets/images/placeholder.png' : data.image"
          alt="Listing Image"
          class="rounded-t h-full object-cover w-full"
        />
      </div>
      <div
        class="px-3 py-3 flex flex-col justify-between gap-2"
        [ngClass]="EListingItemType.LISTING ? 'h-full' : 'h-40'"
        [class.w-full]="type === EListingItemType.LISTING"
      >
        <div>
          <h3 class="body-2-light">
            {{ data.title.slice(0, 30) }}{{ data.title.length >= 30 ? '...' : '' }}
          </h3>
          <div>
            <span class="body-3-bold">{{ data.price }} PLN</span>
          </div>
          @if (type !== EListingItemType.CAROUSEL) {
            <div class="mt-2 text-stone-400 body-2-light hidden sm:block">
              {{ data.description.slice(0, 60) }}{{ data.description.length >= 60 ? '...' : '' }}
            </div>
          }
        </div>
        <div>
          <span class="text-stone-400 body-4"
            >{{ data.city }}, {{ data.createdAt | date: 'dd.mm.yyyy' }}</span
          >
        </div>
      </div>
    </div>
  </a>
}
