<div
  class="overflow-y-auto block transition-transform -translate-x-full w-3/4 md:w-1/2 h-screen bg-white shadow-md fixed top-0 left-0 z-40 p-6 pt-20"
  [ngClass]="{ '!translate-x-0': navigation.sideMenuOpened() }"
>
  <hoof-navigation class="mt-6 block"></hoof-navigation>

  @if (!!auth.user()) {
    @for (menuElem of ACCOUNT_MENU; track $index) {
      <a
        [routerLink]="menuElem.url"
        class="p-4 body-2 block"
        [ngClass]="{ 'border-b border-stone-200': !$last }"
        (click)="menuElem.slug === 'log-out' ? auth.logout() : null"
      >
        {{ menuElem.text }}
      </a>
    }
  } @else {
    <hoof-auth-actions class="block mt-12"></hoof-auth-actions>
  }
</div>
