@use './functions.scss';

$heading-sizes: (
  1: functions.to-rem(64),
  2: functions.to-rem(48),
  3: functions.to-rem(36),
  4: functions.to-rem(24),
);

$body-sizes: (
  1: functions.to-rem(18),
  2: functions.to-rem(16),
  3: functions.to-rem(14),
  4: functions.to-rem(12),
);

$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
);

@mixin generate-typography-classes($prefix: '') {
  // HEADINGS
  @each $i, $fontSize in $heading-sizes {
    .#{$prefix}h#{$i} {
      font-family: 'Prata', serif;
      font-weight: 400;
      font-size: $fontSize;
      line-height: 1;
    }
  }

  // BODY TEXT
  @each $i, $fontSize in $body-sizes {
    .#{$prefix}body-#{$i} {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: $fontSize;
      line-height: 1.5;
    }

    .#{$prefix}body-#{$i}-thin {
      font-family: 'Inter', sans-serif;
      font-weight: 100;
      font-size: $fontSize;
      line-height: 1.5;
    }

    .#{$prefix}body-#{$i}-light {
      font-family: 'Inter', sans-serif;
      font-weight: 300;
      font-size: $fontSize;
      line-height: 1.5;
    }

    .#{$prefix}body-#{$i}-bold {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: $fontSize;
      line-height: 1.5;
    }
  }
}

@include generate-typography-classes();

@each $name, $width in $breakpoints {
  @media (min-width: $width) {
    $prefix: '#{$name}\\:'; // e.g. md\:h1
    @include generate-typography-classes($prefix);
  }
}
