<div
  (mouseleave)="navigation.reset()"
  class="absolute top-0 left-0 w-full z-50"
  [ngClass]="contrast ? 'bg-white shadow-md' : 'p-4'"
>
  <div
    class="w-full flex gap-4 items-center"
    [ngClass]="
      !contrast ? 'justify-between p-6' : 'justify-between lg:justify-start py-6 px-6 xl:px-24'
    "
  >
    <!-- LOGO -->
    <hoof-logo
      [ngClass]="{ 'w-1/4': !contrast }"
      [contrast]="contrast || navigation.sideMenuOpened()"
    ></hoof-logo>

    <!-- MENU -->
    <div class="hidden lg:block" [ngClass]="{ 'pl-8': contrast }">
      <hoof-navigation [contrast]="contrast"></hoof-navigation>
    </div>

    <!-- ACTIONS -->
    @if (!!auth.currentUser()) {
      <div
        class="gap-8 items-center justify-end hidden lg:flex"
        [ngClass]="!contrast ? 'w-1/4' : 'w-full'"
      >
        <hoof-profile-picture></hoof-profile-picture>
      </div>
    } @else {
      <hoof-auth-actions
        class="hidden lg:flex justify-end"
        [ngClass]="!contrast ? 'w-1/4' : 'w-full'"
        [contrast]="contrast"
      ></hoof-auth-actions>
    }

    <!-- HAMBURGER -->
    <button
      class="cursor-pointer relative flex flex-col gap-1 lg:hidden"
      (click)="navigation.toggleSideMenu()"
      (keydown)="navigation.toggleSideMenu()"
    >
      <div
        class="bg-white h-0.5 w-8 rounded-full rotate-0 transform origin-center transition-transform"
        [ngClass]="{
          '!rotate-45 translate-y-[6px]': navigation.sideMenuOpened(),
          '!bg-black': contrast,
        }"
      ></div>
      <div
        class="bg-white h-0.5 w-6 rounded-full transition-opacity opacity-100"
        [ngClass]="{ '!opacity-0': navigation.sideMenuOpened(), '!bg-black': contrast }"
      ></div>
      <div
        class="bg-white h-0.5 w-8 rounded-full rotate-0 transform origin-center transition-transform"
        [ngClass]="{
          '!-rotate-45 -translate-y-[6px]': navigation.sideMenuOpened(),
          '!bg-black': contrast,
        }"
      ></div>
    </button>
  </div>

  <!-- SUBMENU -->
  <hoof-sub-menu class="hidden lg:block"></hoof-sub-menu>
</div>
