<div class="flex flex-wrap md:flex-nowrap gap-4 mb-4">
  <div class="relative w-full">
    <input
      type="number"
      class="rounded-full"
      placeholder="Cena od"
      [ngModel]="priceFrom"
      (ngModelChange)="onPriceFromChange($event)"
      [ngClass]="contrast ? '_input' : '_input-transparent'"
    />
  </div>
  <div class="relative w-full">
    <input
      type="number"
      class="rounded-full"
      placeholder="Cena do"
      [ngModel]="priceTo"
      (ngModelChange)="onPriceToChange($event)"
      [ngClass]="contrast ? '_input' : '_input-transparent'"
    />
  </div>
</div>

<hoof-category-selector [contrast]="contrast"></hoof-category-selector>
