<div class="flex md:flex-nowrap flex-wrap gap-2">
  <ion-select
    interface="popover"
    label="Kategoria główna"
    label-placement="floating"
    [value]="selectedMainCategory?.slug"
    (ionChange)="onMainCategoryChange($event.detail.value)"
  >
    @for (category of mainCategories; track $index) {
      <ion-select-option [value]="category.slug">
        {{ category.title }}
      </ion-select-option>
    }
  </ion-select>

  <ion-select
    interface="popover"
    label="Kategoria dodatkowa"
    label-placement="floating"
    [disabled]="!selectedMainCategory"
    [value]="selectedSubcategory?.slug"
    (ionChange)="onSubcategoryChange($event.detail.value)"
  >
    @for (sub of subcategories; track $index) {
      <ion-select-option [value]="sub.slug">
        {{ sub.text }}
      </ion-select-option>
    }
  </ion-select>
</div>
