<ion-content>
  <ion-list lines="none">
    <ion-item class="mt-2">
      <img
        [src]="listing.images[0]"
        alt="Listing image"
        class="rounded aspect-video object-cover"
      />
    </ion-item>
    <ion-item class="mt-2">
      <ion-label>
        <div class="body-3 pb-2 border-b border-gray-200">
          {{ listing.title }}
        </div>
        <div class="body-4 mt-2 flex gap-2 items-center">
          <ion-icon name="location-outline"></ion-icon>
          {{ listing.location }}
        </div>
        <div class="body-4-light flex gap-2 items-center">
          <ion-icon name="cash-outline"></ion-icon>
          Cena: {{ listing.price }} PLN
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
  <div class="px-4 pb-4 flex gap-2 mt-2">
    <a [routerLink]="['/listing', listing.category, listing.subCategory, listing.id]">
      <ion-button fill="solid">Zobacz</ion-button>
    </a>
    <a [href]="googleMapsUrl" target="_blank">
      <ion-button expand="block" fill="outline" target="_blank"> Nawiguj </ion-button>
    </a>
  </div>
</ion-content>
